{% extends "mod/base.html" %}
{% block body_block %}
{% load staticfiles%}
{% load octicons %}
<div class="container">
    <div class="jumbotron text-center">
        <h1>{{ item.name }}</h1>
        <p class="lead">{{ item.description|linebreaks }}</p>
        <p>
            <button type="button" class="btn btn-large btn-success " onclick="location.href='{% url 'approve' item_id=item.id %}';event.stopPropagation();">{% octicon "thumbsup" fill="white" %}</button>
            <button type="button" class="btn btn-large btn-danger " onclick="location.href='{% url 'deny' item_id=item.id %}';event.stopPropagation();">{% octicon "thumbsdown" fill="white" %}</button>
        {% if item.file %}<p><a class="btn btn-large btn-success" href="{% url 'download' item_id=item.id %}" download>Descargar</a></p>
        {% elif item.video %}<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ item.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% elif item.repo %}<div class="github-card" data-github="{{ item.repo }}" data-width="400" data-height="278" data-theme="medium"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        {% endif %}
        </p>
        {# <embed src="{% url 'download_mod' item_id=item.id read=1 %}" width= "500" height= "375"> #}
    </div>
</div>
<hr>
{% endblock %}