{% extends "index/base.html" %}
{% block body_block %}
{% load staticfiles%}
<div class="jumbotron text-center">
    <script type="text/javascript">
    var TxtRotate = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = 'ompartidos';
        this.tick();
        this.isDeleting = true;
    };

    TxtRotate.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

        var that = this;
        var delta = 300 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }

        setTimeout(function() {
            that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('txt-rotate');
        for (var i = 0; i < elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-rotate');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtRotate(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
        document.body.appendChild(css);
    };
    </script>
    <h1>C<span class="txt-rotate" data-period="2000" data-rotate='[ "ompartidos", "rea", "omunica", "onfia", "onstruye", "opia", "alcula", "olabora", "ita", "elebra" ]'>
        </span>UA
    </h1>
    <p class="lead">Tu web de apuntes, ejercicios y soluciones</p>
    <form enctype="multipart/form-data" id="id_ajax_upload_form" method="POST" novalidate="" class="text-justify">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Nombre</label>
            <input type="text" class="form-control" id="id_name" aria-describedby="nameHelp" placeholder="Introduce un nombre corto y explicativo" name="name" required>
            <small id="nameHelp" class="form-text text-muted">Puede ser el nombre de la práctica, e incluir identificadores como el tema o la asignatura</small>
        </div>
        <div class="form-group">
            <label for="id_tags">Tags</label>
            <input type="text" class="form-control" id="id_tags" aria-describedby="nameHelp" placeholder="Introduce un nombre corto y explicativo" name="tags" required>
            <small id="tagsHelp" class="form-text text-muted">Puede ser el nombre de la práctica, e incluir identificadores como el tema o la asignatura</small>
        </div>
        <div class="form-group">
            <label for="id_description">Descripción</label>
            <textarea class="form-control" id="id_description" rows="3" name="description" required></textarea>
            <small id="descHelp" class="form-text text-muted">Asegurate de explicar los contenidos de los apuntes. Puedes introducir tu nombre o alguna tag para identificarlo fácilmente mas tarde</small>
        </div>
        <div class="form-group">
            <label for="id_file">Archivo</label>
            <input type="file" class="form-control-file" id="id_file" name="file" required>
        </div>
        <input type="submit" />
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
    // form upload
    $('#id_ajax_upload_form').submit(function(e) {
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: formData,
            success: function(response) {
                $('.error').remove();
                console.log(response)
                if (response.error) {
                    $.each(response.errors, function(name, error) {
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                } else {
                    alert(response.message)
                    window.location = ""
                }
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
    // end
    </script>
</div>
{% endblock %}